//- extends layouts/main.pug
extends layouts/main

block content
    .form-container
        form(action=`/videos${routes.upload}`,method="post") 
            lable(for="file") Video File
            input(type="file", id="file", name="file",cols="20" rows="1",required=true)
            input(type="text", placeholder="Title", name="title", required=true)
            textarea(name="description", placeholder="Description", required=true)
            input(type="submit",value="Upload Video")

            //- form(action=`/videos${routes.upload}`,method="post") is key potint of the Post method
        


        