mixin videoBlock(video= {})
    .videoBlcok
        video.videoBlock__thumbnail(src=video.videoFile, controls=true)
        h4.videoBlock__title=video.title
        h4.videoBlock__views=video.views
        h4.videoBlock__videoFile=video.description